@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Katherine Mann<br />
    8 Lyndhurst Crescent<br />
    Ferndale WA 6148<br />
    0421 390 524
</address>

<address>
    <a href="mailto:kathjmann@gmail.com">kathjmann@gmail.com</a><br />
</address>