@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Your Weather For ((CITY))</h1>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-2">
        WeatherIcon int
        WeatherText string
        Temperature.Metric.Value double
        Temperature.Metric.Unit string
        Wind.Direction.English string
        Wind.Speed	object

        UVIndex	int32
        UVIndexText	string

        PrecipitationSummary.PastHour	object
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-2">
        

    </div>
    <div class="col-xs-12 col-sm-6 col-lg-2">
        

    </div>
    <div class="col-xs-12 col-sm-6 col-lg-2">
        

    </div>
</div>

<script>
    $(document).ready(function () {
        console.log("ready");
         @*$.get("@Url.Action("GetUserLocation","Home")", function (response) {

            //populate fields with response
            

        });*@
    });
</script>
