@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="cityName">Your Weather For </h1>
</div>

<div class="row center-block mx-auto" style="width: 300px">
    <div class="col-xs-6 text-center mx-auto d-block">
        <div id="icon"></div>
        <div id="text"></div>
    </div>
    <div class="row center-block mx-auto" style="width: 300px">
        <div class="col-xs-6 center-block">
            <h1 id="temp"></h1>
        </div>
    </div>
</div>
<div class="alert-danger" id="error"></div>


<script>
    $(document).ready(function () {
        //get and set profile's name
        $.get("@Url.Action("GetCurrentProfileName", "Home")", function (response) {
             $("#cityName").append(response);
        });

        $("#icon").empty();
        $("#text").empty();
        $("#temp").empty();

        //send off for rest of it.
         var jqxhr = $.get("@Url.Action("GetCurrentProfileWeather","Home")", function (response) {
            //populate fields with response
            $("#icon").append("<img src='/Content/Icons/"+response[0].WeatherIcon+"-s.png' />");
            $("#text").append(response[0].WeatherText);
            $("#temp").append(response[0].Temperature.Metric.Value + "&deg;"+ response[0].Temperature.Metric.Unit);


        }).fail(function (r) {
                if (r.status == 500) {
                    $("#error").append("The AccuWeather Trial Account is probably out of pings, we only get 50!")
                }
        });
    });
</script>
